$bookingColor:blue;
$headingPaddingTop:50px;
$h1FontSize:40px;
$beforeFontSize:70px;
$pFontSize:20px;
$h1FontSizeMax767:35px;
$pFontSizeMax767:18px;
$h1FontSizeMax576:27px;
$pFontSizeMax576: 16px;
$h1LetterSpacing:5px;
$h2LetterSpacing:4px;
@mixin beforeElement {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(221, 211, 211);
    padding-top: 15px;
    font-size: 70px;
    font-weight: bold;
    font-family: "Courgette";
    letter-spacing: 50px;
    z-index: -1;
}
@mixin paragraph {
    font-size: $pFontSize;
    text-align: justify;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;    
    line-height: 1.6; 
}
